
@{
    ViewData["Title"] = "St Louis Sites";
}

<h1>St Louis Sites</h1>
<h2>Welcome to all of the best attractions the City of St. Louis has to offer!</h2>
<img src="BackgroundImages/depositphotos_110986782-stock-photo-flag-of-st-louis-missouri.jpg" alt="Flag of St. Louis Missouri" />
<h3>Here you can find information and provide your feedback on each of these attractions.</h3>
